#main-header {
  height: 355px;
  /* padding-top: 90px; */
  background-color: lightblue;
  background-image: url(http://www.transparenttextures.com/patterns/stardust.png)
}
.center-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name-alignment {
  padding-top:0;
  margin-top: 1px;
}

#img {
  margin-bottom: -50px;
  margin-top: 30px;
}

