

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  margin: 10px;
  font-size: 23px;
  margin-left: 0px;
}

#tweet-text {
  border-width: thick;
  height: 40px;
  background-color: ivory;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: rgb(75, 75, 75);
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: smaller;
  
}

#tweet-text:focus {
  outline: none;
}

.button-counter {
  display:flex;
  justify-content: space-between;
  user-select: none;
}

.tweet-button {
  font-family:'Bungee', sans-serif;
  height: 2rem;
  width:90px;
  background-color: #303c6c;
  color: white;
  font-size: large;
}

.counter {
  font-family:'Bungee', sans-serif;
  color: black;
}

.counter-red {
  font-family:'Bungee', sans-serif;
  color: red;
}

#error-msg {
  color:red;
  font-weight: bold;
}

#error-div{
  display:flex;
  flex-direction: row;
  align-items: baseline;
}

.fa-solid{
  color: red;
  padding: 5px
}
